n8n-workflow/chat-ai-workflow.json
{
  "name": "Chat AI Agent",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "/webhook/chat-ai",
        "responseMode": "responseNode",
        "authentication": "headerAuth",
        "options": {}
      },
      "id": "webhook-trigger",
      "name": "Webhook Trigger",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [240, 300],
      "webhookId": "chat-ai-webhook"
    },
    {
      "parameters": {
        "jsCode": "// Validar estrutura do payload\nconst { message, sessionId } = $node[\"Webhook Trigger\"].json.body;\n\nif (!message || !sessionId) {\n  throw new Error(\"Missing required fields: message or sessionId\");\n}\n\nreturn {\n  message: message.trim(),\n  sessionId,\n  userId: $node[\"Webhook Trigger\"].json.body.userId || null,\n  timestamp: Date.now()\n};"
      },
      "id": "validate-input",
      "name": "Validate Input",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [460, 300]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.mistral.ai/v1/chat/completions",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            },
            {
              "name": "Authorization",
              "value": "Bearer {{ $credentials.mistralApi.apiKey }}"
            }
          ]
        },
        "sendBody": true,
        "bodyContentType": "json",
        "jsonBody": "{\n  \"model\": \"mistral-large-latest\",\n  \"messages\": [\n    {\n      \"role\": \"system\",\n      \"content\": \"Você é um assistente AI que ajuda usuários a navegar em um site. Se o usuário pedir para acessar uma página específica, responda APENAS com 'REDIRECT:URL' onde URL é o link da página. Caso contrário, responda normalmente. Páginas disponíveis: /produtos, /sobre, /contato, /perfil, /configuracoes\"\n    },\n    {\n      \"role\": \"user\",\n      \"content\": \"{{ $node['Validate Input'].json.message }}\"\n    }\n  ],\n  \"max_tokens\": 500,\n  \"temperature\": 0.7\n}",
        "options": {}
      },
      "id": "mistral-llm",
      "name": "Mistral LLM",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "position": [680, 300]
    },
    {
      "parameters": {
        "jsCode": "const mistralResponse = $node[\"Mistral LLM\"].json.choices[0].message.content;\nconst sessionId = $node[\"Validate Input\"].json.sessionId;\n\n// Verificar se é um redirecionamento\nif (mistralResponse.startsWith(\"REDIRECT:\")) {\n  const url = mistralResponse.replace(\"REDIRECT:\", \"\").trim();\n  \n  return {\n    action: \"redirect\",\n    url: url,\n    sessionId: sessionId,\n    message: `Redirecionando para ${url}`,\n    timestamp: Date.now()\n  };\n} else {\n  return {\n    action: \"message\",\n    message: mistralResponse,\n    sessionId: sessionId,\n    timestamp: Date.now()\n  };\n}"
      },
      "id": "process-response",
      "name": "Process Response",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [900, 300]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "{\n  \"success\": true,\n  \"action\": \"{{ $node['Process Response'].json.action }}\",\n  \"message\": \"{{ $node['Process Response'].json.message }}\",\n  \"url\": \"{{ $node['Process Response'].json.url }}\",\n  \"sessionId\": \"{{ $node['Process Response'].json.sessionId }}\",\n  \"timestamp\": \"{{ $node['Process Response'].json.timestamp }}\"\n}",
        "options": {}
      },
      "id": "webhook-response",
      "name": "Webhook Response",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [1120, 300]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "{\n  \"success\": false,\n  \"error\": \"Erro interno do servidor\",\n  \"message\": \"Desculpe, ocorreu um erro ao processar sua mensagem.\",\n  \"action\": \"message\",\n  \"timestamp\": \"{{ Date.now() }}\"\n}",
        "options": {}
      },
      "id": "error-response",
      "name": "Error Response",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [900, 500]
    }
  ],
  "connections": {
    "Webhook Trigger": {
      "main": [
        [
          {
            "node": "Validate Input",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Validate Input": {
      "main": [
        [
          {
            "node": "Mistral LLM",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Mistral LLM": {
      "main": [
        [
          {
            "node": "Process Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Process Response": {
      "main": [
        [
          {
            "node": "Webhook Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "pinData": {},
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "tags": [
    {
      "createdAt": "2024-01-20T10:00:00.000Z",
      "updatedAt": "2024-01-20T10:00:00.000Z",
      "id": "1",
      "name": "AI Chat"
    }
  ],
  "triggerCount": 1,
  "updatedAt": "2024-01-20T10:00:00.000Z",
  "versionId": "1"
}